<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"><link rel="stylesheet" href="static/style.css"><title>Login</title>
</head>
<body>
    <header><h1>SENAI <span>GESTÃO DE APOSTILAS</span></h1></header>
    <div class="login-container">
        <div class="card" style="max-width: 400px; width:100%; text-align:center;">
            <h2>Acesso ao Sistema</h2>
            <input type="text" id="usuario" placeholder="Nome ou Matrícula" style="width:100%; margin-bottom:15px;">
            <input type="password" placeholder="Senha" style="width:100%; margin-bottom:20px;">
            <button class="btn btn-primary" onclick="realizarLogin()">ENTRAR</button>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>